git+ssh://git@gitlab.com/antoinehonore/utils_db.git
#git+ssh://git@gitlab.com/antoinehonore/utils_plots.git
#git+ssh://git@gitlab.com/antoinehonore/utils_tbox.git

et-xmlfile

greenlet
numpy
openpyxl
pandas
parse
python-dateutil
pytz
six
SQLAlchemy
Unidecode
plotly
psycopg2-binary
tableone
dash
dash-extensions
gunicorn
matplotlib
